{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>safaripark</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Сафари-Парк</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/safari1.jpg'%} " width = '540px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/safari2.jfif'%}"  width = '391px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/safari3.jpg'%}" width = '420px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/safari4.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text"><span style ="font-weight: bolder">«Сафари-парк»</span>- первый на Черноморском побережье реабилитационный центр для животных. Многие из наших обитателей уже столкнулись с жестокостью людей и не очень-то им доверяют, поэтому основная задача сотрудников парка создать нашим подопечным такие условия, чтобы им ничего не напоминало о тяжелом прошлом.
              <br><br><a href="https://safari-park.ru/">Официальный сайт</a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ЭТО ИНТЕРЕСНО</div>
            <ul>
                <div class="text at2"> Наши вольеры - это уголочек леса, где зверь может притаиться под кустом или залезть на дерево. Если быть внимательным и не торопиться, то Вы получите уникальную возможность увидеть «дикий мир» в условиях, максимально приближенных к природным. Вам не надо ехать в таежные леса для того, чтобы наблюдать, как мама-тигрица воспитывает свое потомство, как играют уссурийские медвежата и еще много интересного. Ведь у нас в парке живет 17 медведей, 10 львов, 10 тигров и много других прекрасных зверей и птиц.</div>   
            </ul>
                <div class="title_parametrs t a s">ПРИ ПОСЕЩЕНИИ ПАРКА РЕКОМЕНДУЕМ</div>
                <ul>
                    <li id="listSafari"><div class="text at2 k">надевать спортивную обувь;</div></li>
                    <li id="listSafari"><div class="text at2 k">если вы потерялись - место встречи у посадочной площадки канатной дороги;</div></li>
                    <li id="listSafari"><div class="text at2 k">при проезде на канатной дороге одевайтесь с учетом, что разница температур между нижней и верхней частями парка до 10 °C, протяженность 1600 м, высота над уровнем моря 640 м, время в пути около 20 минут;</div></li>
                    <li id="listSafari"><div class="text at2 k">кормить животных специальными кормами, приобретенными в парке, и только тех, где на вольерах есть разрешающие таблички, в оборудованных для этой цели местах, в присутствии сотрудника парка.</div></li>
                </ul>

    </div>
</body>
</html>