{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skalaparus</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Скала Парус</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/parus1.jpg'%} " width = '630px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/parus2.jpg'%}"  width = '650px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/parus3.jpg'%}" width = '590px'height = '440px' alt="pic4"></div>

        </div>
   
   
    <div class="box__description">
        <div class="text">Удивительный памятник природы находится в 17 км от города Геленджика, рядом с живописным приморским селом Прасковеевка. Высокая плоская скала Парус получила такое название, потому что действительно напоминает развернутый на ветру четырехугольный парус. Черноморский останец выглядит очень необычно, поэтому многие туристы верят, что скала — дело рук человека. Однако это не так — достопримечательность появилась задолго до того, как на побережье поселились люди.</div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ВОЗНИКНОВАНИЕ И ОСОБЕННОСТИ СКАЛЫ</div>
            <ul>
                <div class="text at2"> Согласно версиям ученых, свою необычную форму скала приобрела благодаря захвату суши водой и постепенным процессам эрозии — они разрушили скальные породы. Ранее скала Парус была частью массива берега, сложенных из пластов мергеля и песчаника. В связи с перепадами температур, многочисленными дождями и мощными морскими прибоями в течение многих лет каменистый берег был разрушен. Таким образом скала Парус и получила свою необыкновенную форму.</div>   
            </ul>
                <div class="title_parametrs t a s">ЭТО ИНТЕРЕСНО</div>
                <ul>
                    <div class="text at2">С каменистым утесом Парус в Краснодарском крае связано немало легенд. Согласно одной, к этому природному монументу был прикован древнегреческий титан Прометей, которого боги наказали за то, что он подарил людям огонь. Эта легенда возникла из-за того, что в античные времена побережье Черного моря населяли древние греки, основавшие рядом с утесом деревню. Согласно другому сказочному рассказу, в этом месте проживали феи в мифическом королевстве. Однажды пираты решили покорить сказочных существ, сокрушив стену королевства с помощью пушек. После того как им удалось это сделать, на землю опустился туман. Когда он рассеялся, пираты увидели перед собой только каменный монумент, а сказочное королевство исчезло.</div>    
                </ul>

    </div>
</body>
</html>