{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aquapark</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Аквапарк "Золотая бухта"</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/aquapark1.jpg'%} " width = '430px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/aquapark2.jpg'%}"  width = '461px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/aquapark3.jfif'%}" width = '520px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/aquapark4.jpeg'%}" width = '450px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text"><span style ="font-weight: bolder">Аквапарк "Золотая бухта" </span>в Геленджике - самый большой аквапарк открытого типа в России и входит в ТОП лучших аквапарков Европы. Впервые он открыл свои двери в 2004 году и сразу получил большую популярность среди гостей города и местных жителей благодаря разнообразию аттракционов, площади территории в 15 га, отличному сервису и доступной цене.

            Над аквапарком трудились лучшие дизайнеры и архитекторы. В результате получился не просто большой парк с обилием водных развлечений, но и настоящий дендрарий. На территории аквапарка "Золотая бухта" можно насчитать более 88 разновидностей растений со всего мира.
              <br><br><a href="https://buhtagold.com/">Официальный сайт </a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ЭТО ИНТЕРЕСНО</div>
            <ul>
                <div class="text at2">Помимо взрослых в аквапарке "Золотая бухта" в Геленджике, множество детских аттракционов - горки, фонтаны, батуты, спуски.  Есть и детский водный городок, сделанный под средневековый замок, и самый настоящий пиратский корабль с пушками. На каждом аттракционе за детьми следят опытные инструкторы.</div>
                <div class="text at2">Активный отдых в аквапарке "Золотая бухта" вызывает дикий голод, который вы сможете утолить в наших кафе, барах, пиццерии и других точках питания, всего их 12 . Ну а если вы устали, выбирайте один из шезлонгов под навесом и отдыхайте, сколько хотите.</div>      
            </ul>
               
    </div>
</body>
</html>