{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolmens</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Дайвинг</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/diving1.jpg'%} " width = '470px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/diving2.jpg'%}"  width = '491px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/diving3.jpg'%}" width = '555px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/diving4.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text">Дайвинг в Геленджике  — это одна из волнующих экскурсий на курорте, которая подарит непередаваемые эмоции и откроет тайны подводного мира. Наш дайв-центр предлагает рекреационный дайвинг — это подводное плавание с целью получения удовольствия и приобретения базовых навыков. Погружение с лодки осуществляется на глубину до 12 метров и длится от 20 до 30 минут (в зависимости от частоты дыхания туристов). Данный вид погружения возможен для детей с 10 лет. По стандарту ассоциации PADI в России дайверу-новичку разрешено погружаться на глубину до 12 метров.
        
              <br><br><a href="https://gelendzhik-travel.ru/dajving_v_gelendzhike.html?ysclid=ltymmefetk546652264">Заказать экскурсию</a></div>
        </div>
       
        <div class="parametrs">
                <div class="title_parametrs t a s">ЧТО ВКЛЮЧЕНО?</div>
                <ul>
                    <li>Бесплатный трансфер с любой точки Геленджика и Кабардинки</li>
                    <li>Обучение</li>
                    <li>Снаряжение по размеру</li>
                    <li>Гидрокостюм толщиной 5 мм</li>
                    <li>Сопровождение инструктора</li>
                </ul>
           
            <div class="title_parametrs t a s">Важная информация</div>
                <ul>
                    <li>• Имеются противопоказания (смотреть на<a href="https://gelendzhik-travel.ru/dajving_v_gelendzhike.html?ysclid=ltymmefetk546652264"> официальном сайте</a>)</div>.</li>
                    
                </ul>
            

           
        </div>
    </div>
</body>
</html>