{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolmens</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Дольмены и Водопады</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/dolmens1.jpeg'%} " width = '440px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/dolmens2.jpg'%}"  width = '491px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/waterfalls1.jpg'%}" width = '505px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/waterfalls2.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text"><span style ="font-weight: bolder">• Водопады реки Жане</span> – небольшие, но очень живописные, поэтому их так любят посещать туристы. 
            Чтобы осмотреть их, придется немного пройти пешком, но маршрут не сложный и вполне посильный даже детям.<br><br> <span style ="font-weight: bolder">• Деревня Дольменов. </span>Дольмены — древние каменные сооружения, вокруг которых ходит масса легенд.
             Это уникальные археологические памятники построенные 2-3 тысячи лет назад до нашей эры.
              Они являются ровесниками египетских пирамид и тайна этих уникальных сооружений до сих пор не разгадана. 
              Считается, что дольмены способны излучать поток положительной энергии.<br><br><span style ="font-weight: bolder">• Эко-деревня поселок Возрождение.</span> Здесь люди живут по старинным обычаям в отрыве от цивилизации. Будет возможность приобрести сувениры ручной работы, а также чай, мед, варенье и многое другое.
              <br><br><a href="https://www.sputnik8.com/ru/gelendzhik/activities/59377-vodopady-reki-zhane?from_cards=true&activity_position=10#?ull_description=undefined&event_date=2024-07-05&option_id=59377&event_id=70919630&ticket_id_109529=1">Заказать экскурсию</a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ХАРАКТЕРИСТИКА</div>
            <ul>
                <li id ="type">Мини группа, автомобильно-пешеходная</li>
                <li id ="time">6 часов</li>
                <li id ="group">Размер группы до 6 человек</li>
                <li id ="child">Можно с детьми</li>
            </ul>
                <div class="title_parametrs t a s">ЧТО ВКЛЮЧЕНО?</div>
                <ul>
                    <li>Трансфeр</li>
                    <li> Услуги гида-фотографа</li>
                </ul>
           
            <div class="title_parametrs t a s">Важная информация</div>
                <ul>
                    <li>Для приобретения сувениров возьмите с собой наличные деньги.</li>
                    <li>Возьмите с собой обед, воду.</li>
                    <li>Надевайте удобную одежду и обувь по погоде.</li>
                </ul>
            

           
        </div>
    </div>
</body>
</html>