{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>olimp</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Абрау-Дюрсо</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/abrau2.jpg'%} " width = '490px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/abrau3.jpg'%}"  width = '491px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/abrau4.jpg'%}" width = '450px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/abrau1.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text"><span style ="font-weight: bolder">Абрау-Дюрсо</span> – село в 14 км от Новороссийска, родина российского шампанского и культовый маршрут для всех, кто увлекается историей отечественного виноделия. Приятная изюминка данного направления заключается еще и в том, что дегустационные залы и погреба винного завода принимают гостей круглогодично. Если летом попасть на виноградники Абрау-Дюрсо не удалось, попытку можно легко повторить в любое другое удобное время.
              <br><br><a href="https://visitabrau.ru/">Официальный сайт </a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">О КУРОРТЕ</div>
            <ul>
                <div class="text at2">Абрау-Дюрсо — уникальный памятник природы, истории и культуры России. Место славится живописным ландшафтом и целебным воздухом. Абрау-Дюрсо многие называют «Русской Ривьерой», и это неудивительно. Летом средняя температура составляет примерно +26 °С, зимой держится около 5 тепла — редко, когда температура опускается ниже нуля. Морская вода в районе поселка в летние месяцы прогревается до +26 °С, а вода в озере — до +28 °С.</div>   
            </ul>
               
    </div>
</body>
</html>