{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>olimp</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Горный парк "Олимп"</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/olimp1.jpg'%} " width = '490px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/olimp2.jpg'%}"  width = '491px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/olimp3.jpg'%}" width = '450px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/olimp4.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text">К вашим услугам главная достопримечательность парка — пассажирская подвесная канатная дорога, с двухместными креслами открытого типа, соединяющая верхнюю и нижнюю площадки от подножия хребта к его вершине. Канатная дорога австрийской фирмы имеет протяжённость 1150 метров, высота подъёма 420 метров. Высшая точка Маркхотского хребта на смотровой площадке 640 метров над уровнем Чёрного моря. Пропускная способность канатной дороги Олимп 750 человек в час, количество подвижного состава — 115 кресел. Во время 15-ти минутного подъема Вы сможете парить над землей и любоваться великолепной панорамой Кавказских гор, Геленджикской бухты, увидите всю красоту моря и окрестностей города.
              <br><br><a href="https://park-olimp.ru/">Официальный сайт </a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ЭТО ИНТЕРЕСНО</div>
            <ul>
                <div class="text at2"> В летний период с июня до конца сентября ежедневно Вас ждут: детский городок, аттракционы, сеть кафе и высокогорный ресторан «Вареничья хата», концертные выступления звезд эстрады, бесплатный автобус до Поклонного Креста, развлекательные программы и мероприятия для детей и взрослых, а также главный аттракцион парка – канатная дорога.</div>   
            </ul>
               
    </div>
</body>
</html>