{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolmens</title>
    <link rel="stylesheet" href="{% static 'css/exc_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_for_exc.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="banner__images">
        <div class="line__name">
            <div class="title">Джиппинг, Грозовые ворота</div>
        </div>
        <div class="pic a" ><img src="{% static 'imgs/jeep1.jpg'%} " width = '540px' height = '440px' alt="pic1"></div>
        <div class="pic b"><img src="{% static 'imgs/jeep2.jpg'%}"  width = '491px'height = '440px' alt="pic2"></div>
    
        <div class="pic d"><img src="{% static 'imgs/jeep3.jpg'%}" width = '505px'height = '440px' alt="pic4"></div>
        <div class="pic e"><img src="{% static 'imgs/jeep4.jpg'%}" width = '550px'height = '440px' alt="pic5"></div>
        </div>
   
   
    <div class="box__description">
        <div class="text">На отроге лесных гор открывается невероятная живописная панорама, где вы можете насладиться пышными природными пейзажами уже с первых минут путешествия. Гора Острая, Куцая, Боцехур, Шахан. Высота более 750 метров над уровнем моря. Именно отсюда открывается шикарный вид на весь Маркотхский хребет за которым укрывается от ветров Геленджикская бухта. Мы посетим место, где снимали фильм «Грозовые ворота» 2006 года. Экранизация посвящена реальным событиям Второй Чеченской войны, точнее Бою у высоты 776. Сооружение из блоков, мастерски состаренное, украшенное фресками, осталось и полюбились туристами. Благодаря оставшимся декорациям здесь получаются шикарные фото.
              <br><br><a href="https://www.sputnik8.com/ru/gelendzhik/activities/54020-dzhip-tur-po-markothskomu-zapovedniku-k-grozovym-vorotam?from_listing=true&activity_position=2#?event_date=2024-03-19&option_id=54020&event_id=84132186&ticket_id_97631=1">Заказать экскурсию</a></div>
        </div>
       
        <div class="parametrs">
            <div class="title_parametrs t a">ХАРАКТЕРИСТИКА</div>
            <ul>
                <li id ="type">Мини группа, автомобильно-пешеходная</li>
                <li id ="time">5 часов</li>
                <li id ="group">Размер группы до 8 человек</li>
                <li id ="child">Можно с детьми</li>
            </ul>
                <div class="title_parametrs t a s">ЧТО ВКЛЮЧЕНО?</div>
                <ul>
                    <li>Трансфeр</li>
                    <li>Услуги водителя-гида</li>
                    <li>Посещение Маркотхского заповедника</li>
                    <li>Дегустация вина и меда</li>
                </ul>
           
            <div class="title_parametrs t a s">Важная информация</div>
                <ul>
                    <li>• Пожалуйста, надевайте комфортную одежду по погоде и удобную обувь.</li>
                    <li>• За 1,5 часа до выезда с вами свяжется наш менеджер для подтверждения брони.</li>
                    <li>• Мы заберем вас из отеля в Геленджике, Голубой бухте, Кабардинке или Дивноморском и привезем обратно после экскурсии.</li>
                    <li>• В программе есть бесплатные дегустации. Если захотите приобрести местную продукцию, оплата только за наличные.</li>
                    <li>• В программе есть бесплатные дегустации. Если захотите приобрести местную продукцию, оплата только за наличные.</li>
                    <li>• Наши опытные инструкторы гарантируют безопасность пассажиров во время экскурсии.</li>
                </ul>
            

           
        </div>
    </div>
</body>
</html>