{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GelenGo/hotel</title>
    <link rel="stylesheet" href="{% static 'css/style_wist.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    

</head>

<body>
   
    <div id="wrappers" class="wrappers">
        <div class="img-logo-home"><a href="{% url 'index' %}"><img src="{% static 'imgs/home.png'%}" width = "80px" height = "80px"></a></div>
        <div class="wrapper_top">
          
            <div class="text_top">МЕСТА РАЗМЕЩЕНИЯ</div>
            <div class="line"></div>
        </div>
        <div class="wrapper">
            <div id="back" class="background"></div>
            <div class="list">
                <div class="text">Фильтрация</div>
                <ul id="list">
                    <li> <span class="text1"><img src="{% static 'imgs/caret.png'%}" id="caret_a">
                            Тип размещения</span>
                        <div class="line_list"></div>
                        <nav1 data-category="type">
                            <ul id="list1">
                                <li><span class="category-btn a" data-category="all"></span>Все</li>
                                <li><span class="category-btn a" data-category="hotels"></span>Отели</li>
                                <li><span class="category-btn a" data-category="apartments"></span>Апартаменты/квартиры
                                </li>
                                <li><span class="category-btn a" data-category="penthouse"></span>Пентхаусы
                                </li>
                                <li><span class="category-btn a" data-category="villas"></span>Виллы</li>
                                <li><span class="category-btn a" data-category="sanatoriums"></span>Санатории</li>
                                <li><span class="category-btn a" data-category="guest"></span>Гостевые дома</li>
                                <li><span class="category-btn a" data-category="hostels"></span>Хостелы</li>
                            </ul>
                        </nav1>
                    </li>
                    <li><span class="text2"><img src="{% static 'imgs/caret.png'%}" id="caret_b">Район</span>
                        <div class="line_list"></div>
                        <nav2 data-category="location">
                            <ul id="list2">
                                <li><span class="category-btn b" data-category="all"></span>Все</li>
                                <li><span class="category-btn b" data-category="sea"></span>У моря</li>
                                <li><span class="category-btn b" data-category="outskirt"></span>Окраина</li>
                                <li><span class="category-btn b" data-category="center"></span>В центре</li>
                            </ul>
                        </nav2>

                    </li>
                    <li><span class="text3"><img src="{% static 'imgs/caret.png'%}" id="caret_c">Категория объекта</span>
                        <div class="line_list"></div>
                        <nav3 data-category="category">
                            <ul id="list3">
                                <li><span class="category-btn c" data-category="all"></span>Все</li>
                                <li><span class="category-btn c" data-category="three"></span>Трехзвездочные</li>
                                <li><span class="category-btn c" data-category="four"></span>Четырехзвездочные</li>
                                <li><span class="category-btn c" data-category="five"></span>Пятизвездочные</li>
                                <li><span class="category-btn c" data-category="none"></span>Не указано</li>
                            </ul>
                        </nav3>
                    </li>
                </ul>

            </div>
            <div class="container">

                {% for place in places %}
                <div id="p1" class="panel"></div>
                <div id="b1" class="box {{place.geo.code}} {{place.hotel.code}} {{place.star.code}}">
                    <div class="img_place"><img src="{{ place.img.url }}" width="351" height="200px"
                            style="border-radius: 15px 15px 0px 0px;">
                        <div class="name">{{place.name}}</div>
                        <div class="place">{{place.distance}} км от центра</div>
                        <div class="type">{{place.type_place.name}}</div>
                        <div class="block" style="top: 310px; position: absolute;">
                            <div class="geo_logo" style="display: inline; position: relative; padding-left: 10px;"><img
                                    src="{% static 'imgs/geoloc.png'%}"></div>
                            <div class="geoloc"
                                style="position: relative; margin-left: 10px; display: inline; bottom: 10px; font-family: Arial Narrow; font-size: 18px;">
                                {{place.geolocation}} </div>
                        </div>

                    </div>
                </div>
                {% endfor%}



            </div>

        </div>
    </div>



    <script src="{% static 'js/wist.js' %}"></script>